<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="">UMD Study Group</a>
  </div>
  <ul class="navbar-nav mr-auto">
    <!-- <li><a routerLink="/" routerLinkActive="active">Home</a></li> -->
    <li class="nav-item">
      <a class="nav-link active" routerLink="/help">Help</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/classpage">ClassPage</a>
    </li>
  </ul>

  <ul class="navbar-nav">
    <li *ngIf="authService.isLoggedIn()" class="nav-item active">
      <a routerLink="/" (click)="authService.logout()" class="nav-link">Logout</a>
    </li>
    <li *ngIf="!authService.isLoggedIn()" class="nav-item">
      <a routerLink="/login" class="nav-link active">Login</a>
    </li>
  </ul>  
</nav>

