<div class="container">
  <div class="card main-card">
    <h1 class="title">{{ className }}</h1>
    <div *ngFor="let item of currGroups; let last = last;" class="card child-card">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}</p>
      </div>
      <hr *ngIf="!last">
    </div>
  </div>
  <div class="col-sm-3 col-centered fixed-bottom">
    <pagination [totalItems]="bigTotalItems" [itemsPerPage]= "numItemsPerPage" [(ngModel)]="bigCurrentPage" 
    (pageChanged)="pageChanged($event)" [maxSize]="maxSize"></pagination>
  </div>
</div>

<!-- <div class="container">
  <div class="card main-card">
    <h1 class="title">{{ className }}</h1>
    <div class="card child-card">
      <div class="card-body">
        <h5 class="card-title">330 (Anwar)</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <hr>
</div> -->


